@import "tailwindcss";

@font-face {
  font-family: "ArtCompanyMonoTest";
  src: url("/fonts/ArtCompanyMonoTest-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "TimesNow";
  src: url("/fonts/times-now-semi-light.otf") format("opentype");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-arial-narrow: "Arial Narrow", Arial, sans-serif;
  --font-times-now: "TimesNow", "Times New Roman", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "TimesNow", "Times New Roman", serif;
  font-size: 18px;
  line-height: 24px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

p {
  font-family: var(--font-arial-narrow);
  font-size: 18px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.font-arial-narrow {
  font-family: var(--font-arial-narrow);
}

h2,
h3,
h4,
h5 {
  font-family: var(--font-times-now);
}

h1 {
  font-family: "ArtCompanyMonoTest", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 40px;
  letter-spacing: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  letter-spacing: 0;
  text-transform: normal;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}


.grid-background {
  background-color: var(--background);
  background-image: radial-gradient(circle, #e6e6e6 1px, transparent 1px);
  background-size: 34px 34px;
}
